@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
}

.column {
    float: left;
    padding: 30px;
}

.c-3dmodel-left {
    width: 70%;
}
  
.c-text-right {
    width: 30%;
}