#body {
    font-family:'Roboto' sans-serif; 
    color: white;
    background-image: url(../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#link {
    color:white;
}

.container {
    padding-left: 50px; 
    padding-right: 50px;
}

.column {
    float: left;
    padding: 30px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.c-text-left {
    width: 70%;
}
  
.c-img-right {
    width: 30%;
}